.card {
    background: #fff;
    border-radius: 2px;
    height: 220px;
    margin: 1rem;
    position: relative;
    width: 325px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:lightblue;
  }

  .card > .img-container > img {
    width: 80%
  }
  
  
  .card:hover {
    opacity: .5;
    transition: .5s;
  }